:root{
    --darg-grey: #272727;
    --light-grey: #313131;
    --very-light-grey: #D9D9D9;
    --white: white;
    --black: black;
    --bg: #f5f5f5;
    --deep-blue: #0158D0;

    --transparent-grey: rgba(217, 217, 217,0.8);
    --grey: rgba(217, 217, 217,0.95);
}

*{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

@font-face{
    font-family: 'SF Pro Display';
    src: url('../media/SF-Pro-Display-Regular.ttf');
}

html{
    scroll-behavior: smooth;
    font-family: "SF Pro Display", serif;
}


a {
    text-decoration: none;
    color: var(--black);
}
  
li {
    list-style-type: none;
}


.main__container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    font-size: clamp(0.6rem, 0.8vw, 1.2rem);
    margin-bottom: 10px;
    padding: 10px;

    ul{
        display: flex;
        align-items: center;
        gap: 20px;
        li{
            cursor: pointer;
            img{
                height: 17px;
                width: auto;
            }
        }
    }

    .symbols{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-right: 20px;
    }

    #time{
        width: 50px;
        margin-right: 10px;
    }
}

.login__screen{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease;
    overflow: hidden;

    div{
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 20%;
        user-select: none;
        img{
            height: 100%;
        }
    }

    .info{
        position: absolute;
        top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--transparent-grey);
        

        .date{
            font-size: 2.5vw;
            font-weight: bold;
        }
        .time{
            font-size: 5.6vw;
            font-weight: bold;
        }
    }

    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-items: center;
        position: absolute;
        top: 80%;

        .profile_pic{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--transparent-grey);
            display: grid;
            place-content: center;
            border: 2px solid var(--white);
            img{
                width: 30px;
            }
        }

        .username{
            padding: 5px 5px 5px 10px;
            background-color: var(--transparent-grey);
            border-radius: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px solid var(--white);

            img{
                height: 20px;
                width: auto;
            }
            

            input{
                color: var(--white);
                background: none;
                border: none;
                display: flex;
                align-items: center;
                height: 15px;
                width: 80%;
                

                &:focus{
                    outline: none;
                }

                &::placeholder{
                    color: var(--white);
                }
            }
        }

        .guest_login{
            color: var(--very-light-grey);
            cursor: pointer;
            font-size: 0.6vw;
        }
    }
}

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.canvas{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 50px;
    color: var(--white);
    position: relative;

    .finder{
        display: flex;
        flex-direction: column;

        .navigation{
            width: 600px;
            height: 30px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            background-color: var(--light-grey);
            border-radius: 10px 10px 0 0;

            ul{
                display: flex;
                gap: 5px;
                
                li{
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
            }
        }

        .content{
            width: 600px;
            height: 85vh;
            background-color: var(--darg-grey);
            border-radius: 0 0 10px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .tags{
                display: flex;
                color: var(--white);
                font-size: 0.7rem;
                width: 100%;
                padding: 10px 10px 10px 50px;
                border-bottom: 1px solid var(--light-grey);
                margin-bottom: 30px;
                width: 95%;
            }

            .title{
                width: 300px;
            }

            .size{
                width: 75px;
            }

            .art{
                width: 75px;
            }

            .added{
                width: 75px;
            }

            .item{
                display: flex;
                color: var(--white);
                font-size: 0.7rem;
                padding: 10px 10px 10px 50px;
                width: 95%;
                border-radius: 5px;
                cursor: pointer;
                position: relative;
                align-items: center;

                li:first-child{
                    position: absolute;
                    left: 30px;
                }

                img{
                    width: 15px;
                    height: 15px;
                }
            }

            .light{
                background-color: var(--light-grey);
            }

            .active{
                background-color: var(--deep-blue);
            }

        }
    }

    .info__viewer{
        display: flex;
        flex-direction: column;
        gap: 5vh;

        .viewer{
            background-color: var(--darg-grey);
            height: 60vh;
            width: 40vw;
            border-radius: 10px;

            .navigation{
                width: 100%;
                height: 5%;
                display: flex;
                align-items: center;
                padding: 0 10px;
                background-color: var(--light-grey);
                border-radius: 10px 10px 0 0;
    
                ul{
                    display: flex;
                    gap: 5px;
                    
                    li{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                }
            }

            .image__display{
                padding: 10px;
                height: 95%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;

                }
            }
        }

        .info{
            background-color: var(--darg-grey);
            height: 23vh;
            border-radius: 10px;

            .navigation{
                width: 100%;
                height: 30px;
                display: flex;
                align-items: center;
                padding: 0 10px;
                background-color: var(--light-grey);
                border-radius: 10px 10px 0 0;
                position: relative;
                
    
                .dots{
                    display: flex;
                    gap: 5px;
                    
                    li{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                }

                .header{
                  display: flex;
                  gap: 5px;  
                  align-items: center;
                  color: var(--very-light-grey);
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);

                  img{
                    height: 15px;
                    width: auto;
                  }
                }
            }
            

            .text__content{
                padding: 10px;
                font-size: clamp(0.4rem, 0.7vw, 1rem);
            }
        }    
    }

    .hub{
        height: 30vw;
        width: 100px;
        border-radius: 50px;
        background-color: var(--white);
        box-shadow: 0 0px 5px rgba($color: #000000, $alpha: 0.3);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 93%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        li{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: var(--very-light-grey);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s ease;
            img{
                width: 50px;
                height: auto;
            }

            &:hover{
                background-color: var(--light-grey);
            }
        }

        #splitter{
            border-radius: 0;
            height: 1px;
        }
    }
}